{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مؤلّفون الكتب</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>مؤلّفون الكتب</h1>
        <nav>
            <ul>
              <li><a href="{% url 'home' %}">الرئيسيّة</a></li>
                <li><a href="{% url 'project2' %}">السلّة</a></li>
                <li><a href="{% url 'project3' %}">الكتب المخفّضة</a></li>
                <li><a href="{% url 'project4' %}">المؤلّفون</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="books">
            <div class="book">
                <img src="{% static 'images/ar1.webp' %}" alt="1">
                <h3>فيودور دوستويفسكي</h3>
                <p>فِيُودُور مِيخَائيلُوفِتْش دُوسْتُويَفِسْكِي هو روائي وكاتب قصص قصيرة وصحفي وفيلسوف روسي. وهو واحدٌ من أشهر الكُتاب والمؤلفين حول العالم. تحوي رواياته فهمًا عميقًا للنفس البشرية وتقدم تحليلًا ثاقبًا للحالة السياسية والاجتماعية والروحية لروسيا في القرن التاسع عشر، وتتعامل مع مجموعة متنوعة من المواضيع الفلسفية والدينية</p>
            </div>
            <div class="book">
                <img src="{% static 'images/ar2.jpg' %}" alt="2">
                <h3>جورج أورويل</h3>
                <p>إريك آرثر بلير  هو الاسم الحقيقي لجورج أورويل  وهو الاسم المستعار له والذي اشتهر به. هو صحافي وروائي بريطاني. عمله كان يشتهر بالوضوح والذكاء وخفة الدم والتحذير من غياب العدالة الاجتماعية ومعارضة الحكم الشمولي وإيمانه بالاشتراكية الديمقراطية.</p>
            </div>
            <div class="book">
                <img src="{% static 'images/ar3.jpg' %} " alt="3">
                <h3>فرانز كافكا</h3>
                <p>كاتب تشيكي يهودي كتب بالألمانية، رائد الكتابة الكابوسية. يُعدّ أحد أفضل أدباء الألمان في فن الرواية والقصة القصيرة تُصنّف أعماله بكونها واقعيّة عجائبية. عادةً ما تتضمّن قصصه أبطالاً غريبي الأطوار يجدونَ أنفسهم وسطَ مأزِقٍ ما في مشهدٍ سرياليّ، يُعزى ذلك للمواضيع النفسية التي يتناولها في أعمالِه مثل الاغتراب الاجتماعي والقلق والذعر والشعور بالذنب والعبثيّة. أكثر أعماله شُهرةً هي رواية المسخ، والمحاكمة، والقلعة. وقد ظهر في الأدب مصطلح الكافكاوية رمزاً إلى الكتابة الحداثية الممتلئة بالسوداوية والعبثية.</p>
            </div>
            <div class="book">
                <img src="{% static 'images/ar4.webp' %}" alt="4">
                <h3>فريدريك نيتشه</h3>
                <p>فريدريش فيلهيلم نيتشه  فيلسوف ألماني، ناقد ثقافي، شاعر وملحن ولغوي وباحث في اللاتينية واليونانية. كان لعمله تأثير عميق على الفلسفة الغربية وتاريخ الفكر الحديث. بدأ حياته المهنية في دراسة فقه اللغة الكلاسيكي، قبل أن يتحول إلى الفلسفة.</p>
            </div>
            <div class="book">
                <img src="{% static 'images/ar5.webp' %}" alt="5">
                <h3>ليو تولستوي</h3>
                <p>كفيلسوف أخلاقي اعتنق أفكار المقاومة السلمية النابذة للعنف وتبلور ذلك في كتاب (مملكة الرب داخلك) وهو العمل الذي أثر على مشاهير القرن العشرين مثل مهاتما غاندي ومارتن لوثر كينغ في جهادهما الذي اتسم بسياسة المقاومة السلمية النابذة للعنف.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 متجر الكتب</p>
    </footer>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
